[Unit]
Description=macvlan-specific customizations
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/macvlan-settings.env

# Required for container failover: on MAC address changes, we
# must reset the ARP records in our broadcast domain. Otherwise
# clients won't get to our new location until their ARP records
# expire.
ExecStartPre=/sbin/sysctl net.ipv4.conf.all.arp_notify=1
# As macvlan is based on assigning multiple mac addresses to one
# interface, if we won't put it to promiscuous mode, we won't
# receive back traffic for those virtual interfaces.
ExecStart=/sbin/ifconfig $INTERFACE promisc
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
