[Unit]
After=docker.service
Description=Docker swarm server
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/swarm.%H.env
EnvironmentFile=-/etc/swarm.env

ExecStartPre=/opt/tarantool_cloud/docker_wrapper.sh start swarm_server $PORT_MAP swarm manage $SWARM_SERVER_OPTIONS
ExecStart=/usr/bin/docker attach swarm_server
ExecStop=/opt/tarantool_cloud/docker_wrapper.sh stop swarm_server

[Install]
WantedBy=multi-user.target
