[Unit]
Description=Tarantool Cloud
After=network.target
Documentation=man:tarantool(1)

# Created by package
AssertPathIsDirectory=/etc/tarantool/instances.available
AssertPathIsReadWrite=/var/lib/tarantool
AssertPathIsReadWrite=/var/log/tarantool
# Created by systemd-tmpfiles
AssertPathIsReadWrite=/var/run/tarantool
# Instance file
ConditionPathExists=/etc/tarantool/instances.available/tarantool_cloud.lua

[Service]
Type=forking
User=root
Group=root
# Disable OOM killer
OOMScoreAdjust=-1000

ExecStart=/usr/bin/tarantoolctl start tarantool_cloud
ExecStop=/usr/bin/tarantoolctl stop tarantool_cloud
## NYI: https://github.com/tarantool/tarantool/issues/1229
#ExecReload=/usr/bin/tarantoolctl reload tarantool_cloud

# Give a reasonable amount of time to close xlogs
TimeoutStopSec=10s
Restart=on-failure
RestartSec=100ms

[Install]
WantedBy=multi-user.target
DefaultInstance=example
