{% extends "bootstrap/base.html" %}
{% block title %}Group: {{group['name']}}{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">
  <h1>Tarantool Instance Manager</h1>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a href="/groups">Groups</a></li>
      <li><a href="/servers">Servers</a></li>
      <li><a href="/network">Network</a></li>
    </ul>
  </div>
</nav>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{{group['name']}}</h1>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>ID</dt><dd>{{group['id']}}</dd>
      <dt>Created</dt>
      <dd>
        <script type="text/javascript">
          d = new Date(Date.parse("{{group['creation_time']}}"))
          document.write(d.toDateString() + " " + d.toTimeString().replace(/ .*/g,""))
        </script>
      </dd>
      <dt>memory limit</dt><dd>{{group['memsize']}}</dd>
      <dt>memory used</dt><dd>{{group['mem_used']}}</dd>
      <dt>type</dt><dd>{{group['type']}}</dd>
    </dl>


  </div>
</div>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Host</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in group['instances'] %}

        {% if instance['state']['type'] == 'passing' %}
          {% set tr_class="" %}
        {% elif instance['state']['type'] == 'warning' %}
          {% set tr_class="warning" %}
        {% else %}
          {% set tr_class="danger" %}
        {% endif %}

        <tr class="{{tr_class}}">
          <td>{{instance['name']}}</td>
          <td>{{instance['host']}}</td>
          <td>{{instance['addr']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


<div class="panel panel-default">
  <div class="panel-heading">
    Resize
  </div>
  <div class="panel-body">
    <form action="{{ url_for('resize_group', group_id=group['id'])}}" method="post">
      <div class="form-group">
        Be careful when resizing instances below their previous size, as the data may not fit into the new size.
      </div>
      <div class="form-group">
        <label for="newsize">New size</label>
        <input type="text" class="form-control" id="memsize" name="memsize" placeholder="500">
      </div>
      <button type="submit" class="btn btn-default">Resize</button>
    </form>
  </div>
</div>


<div class="panel panel-danger">
  <div class="panel-heading">
    Delete
  </div>
  <div class="panel-body">
    <form action="{{ url_for('delete_group', group_id=group['id'])}}" method="post">
      <div class="form-group">
        This will destroy the instance and all its data
      </div>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>

{% endblock %}
